@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.custom-modal {
    width: 100% !important;
}

.modal-antd .ant-modal-content{
    padding: 0 !important;
}

@media (max-width: 571px) {
    .ant-modal-content {
        height: 100vh;
        border-radius: 0;
    }

    .custom-modal {
        padding-bottom: 0;
        margin-block: 0 !important;
        margin-inline: 0 !important;
        top: 0;
    }
}

@media (min-width: 571px) and (max-width: 1024px) {
    .custom-modal {
        width: 524px !important;
    }
}

@media (min-width: 1024px) {
    .custom-modal {
        max-width: 684px !important;
    }
}